@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  font-family: "Space Grotesk";
}
p {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.desktop-bg {
  position: absolute;
  top: -7rem;
  left: -10rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-section {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  gap: 1rem;
  transform: scale(0.8);
}

.card-back {
  /* transform: scale(0.9); */
  /* max-width: %; */
  position: relative;
  right: -5rem;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#cvc-number {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 7rem;
  right: 3.4rem;
  margin-top: 0;
}

.image-1 {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image-2 {
  position: absolute;
  max-width: 15%;
  top: 1.5rem;
  right: 22rem;
}

.card-front #numbers {
  position: absolute;
  top: 7.5rem;
  right: 1.4rem;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  font-weight: 200;
}

.holder-details {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.holder-details #name {
  position: absolute;
  top: 12.5rem;
  right: 18.8rem;
  color: hsl(270, 3%, 87%);
  text-transform: uppercase;
}

#date {
  position: relative;
  top: -3rem;
  right: -22.5rem;
  color: hsl(270, 3%, 87%);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.holder-card {
  border-radius: 5px;
  padding: 4px 100px 4px 5px;
}

label {
  color: hsl(278, 68%, 11%);
  font-size: x-small;
  font-weight: 600;
  letter-spacing: 2px;
}

.last-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: none;
}

#month-year {
  max-width: 40%;
}

#month-year input {
  border-radius: 5px;
  padding: 5px 15px 5px 10px;
  max-width: 12%;
}

.cvc-num input {
  max-width: 60%;
  border-radius: 5px;
  padding: 5px;
}

input {
  /* margin-bottom: 20px; */
  margin-top: 10px;
  /* display: block; */
  cursor: pointer;
  /* border: 0; */
  border-color: hsl(270, 3%, 87%);
  border: solid hsl(270, 3%, 87%);
  transition: 0.3s;
}

input:hover {
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-style: solid;
  border-width: 2px;
  border-image-slice: 1;
}

input[type="text"]:focus {
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-style: solid;
  border-width: 1px;
  border-image-slice: 1;
  outline: none;
  border-radius: 5px;
}

.input-controls.error input {
  border-color: hsl(0, 100%, 66%);
}

#name-error,
#cvc-error,
#card-number-error,
#date-expiry-error {
  color: hsl(0, 100%, 66%);
  font-family: inherit;
  font-size: small;
}

button {
  font-family: inherit;
  align-self: center;
  border-radius: 5px;
  padding: 8px 7.2rem;
  border: 0px;
  max-width: 100%;
  color: hsl(270, 3%, 87%);
  background-color: hsl(278, 68%, 11%);
  margin-top: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.complete-section p {
  color: hsl(279, 6%, 55%);
  font-size: small;
}

.complete-section h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.complete-section img {
  max-width: 17%;
}

.complete-section {
  text-align: center;
  letter-spacing: 1px;
}
.hide {
  display: none;
}

@media (max-width: 50em) {
  body {
    gap: 0;
    margin: 0;
    display: initial;
  }

  .show {
    display: none;
  }

  .hide {
    display: initial;
  }

  .mobile-bg {
    position: relative;
    top: -8.5rem;
    right: 12rem;
    width: 50rem;
    height: 23rem;
  }

  .card-back {
    bottom: 56em;
    /* z-index: -1; */
    right: 1em;
  }

  .image-1 {
    bottom: 30.4em;
    right: 7em;
    z-index: 1;
  }

  .image-2 {
    z-index: 1;
    left: -5rem;
    top: -28em;
  }

  .card-front #numbers {
    z-index: 1;
    left: -5rem;
    top: -16em;
  }

  .holder-details #name {
    z-index: 1;
    left: -5em;
    top: -18em;
    max-width: 15ch;
  }

  #date {
    z-index: 1;
    left: 16em;
    top: -33.5em;
  }

  #cvc-number {
    right: 6rem;
  }

  .main-section {
    gap: 0px;
  }

  .main-section {
    min-height: 0;
    margin-left: 2rem;
  }

  .card-front {
    min-height: 0vh;
  }

  .card-section {
    min-height: 0vh;
    max-height: 1vh;
  }
  .cards {
    transform: scale(0.7);
  }
}
